@import url('//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css');

.ui-sort {
  width: 20em;
}
.ui-sort li {
  position: relative;
  margin: 0 3px 3px 3px;
  padding: 4px 3px 2px 8px;
  height: 18px;
  cursor: move;
}
.ui-sort li span {
  position: absolute;
  right: 0;
  margin-right: 6px;
}
